body {
  background-color: #444;
  margin: 0;
}
.wrapper {
  margin: 0;
}
.leftcolumn {
  float: left;
  width: 75%;
  overflow: hidden;
}
.rightcolumn {
  float: right;
  width: 25%;
  overflow: hidden;
}
#Norris,
#daily {
  height: 320px;
  width: 320px;
  margin-bottom: 40px;
}
