body {
  font-family: sans-serif;
}

.container {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Norris {
  height: 120px;
  width: 120px;
  margin-bottom: 40px;
}
